
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#footer{
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
  padding: 0 0 15px 15px;
}

  .text-body-secondary{
    color: grey;
    font-family: 'Montserrat', sans-serif;
  }

  .tindog-c{
    color: #0d0d0d;
    font-family: "Noto sans";
  }

@media (max-width: 575.98px) {
  body{
    margin: 0;
  }

  #title{
    display: flex;
    flex-flow: column wrap;
    padding-left: 10%;
  }


  .iphone{
    height: 595px;
    padding: 100px 0 0 0px;
  }

  h1{
    font-size: 1.75rem;
    font-family: 'Mulish', sans-serif;
    width: 90%;
  }
  
  p, li, a{
    font-family: 'Mulish', sans-serif;
  }

  p{
    font-size: 1rem;
  }

  .btn-primary{
    background-color: white;
    border: solid white 1px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    height: 50px;
    margin: 0 0 8px 0px;
    width: 90%;
  }

  .btn-outline-light{
    background: rgb(0,0,0,0);
    border: solid white 1px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: white;
    height: 50px;
    margin: 0 0 8px 0px;
    width: 90%;
  }

  .btn-primary:hover{
    background-color: #0d0d0d;
    color: #fafafa;
  }

  .btn-outline-light:hover{
    color: black;
  }

  #features{
    display: grid;
    margin: 55px 20px 55px 30px;
  }

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    float: left;
  }

  .feat{
    font-size: 1.2rem;
    margin: 8px 0 0 35px;
  }

  .icon{
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
  }

  h2, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
  }

  h3{
    margin: 0 5% 0 5%;
  }

  #testimonial{
    background-color: rgb(252, 248, 177);
    padding: 25px 0 25px 0;
  }

  .dog-words{
    font-size: 1.75rem;
    text-align: center;
  }

  .profile{
    padding: 20px 0 50px 0;  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .profile-img {
    height: 110px;
    border-radius: 50%;
    padding: 0;
  }

  .col-lg-6{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .brand-image{
    padding: 0;
    margin: 5px 0 5px 0;
  }

  #pricing{
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    padding: 20px 0 20px 0;

  }

  #pricing > h1{
    text-align: center;
  }

  #pricing > p{
    color: grey;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 15px;
  }

  .card-body{
    border: solid 0.5px lightgrey;
    border-radius: 10px;
    text-align: center;
  }

  .card-title{
    margin-left: 5%;
  }

  .text-body-secondary{
    color: grey;
    font-family: 'Montserrat', sans-serif;
  }

  h2{
    padding: 5px 0 5px 0;
    text-align: center;
  }

  .card-col{
    margin: 25px 0 10px 0;
    width: 90%;
  }

  .coll{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 400px;
  }

  .btn-outline-primary{
    background-color: white;
    border-radius: 10px;
    border: solid 1px darkred;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    color: darkred;
    height: 40px;
    width: 100%;
  }

    /* background: (200deg, darkred, salmon, #fafafa);
    background-size: 120% 120%;
    animation: outline-animation 5s;  */

  .btn-outline-primary:hover{
    background-color: darkred;
    color: #fafafa;
  }

  li{
    list-style: none;
  }

  .nav-link{
    color:#fafafa;
    text-decoration: none;
  }

  .nav-link:hover{
    color: darkred;
  }
}




@media (min-width: 575.99px) and (max-width: 767.99px) { 
  body{
    margin: 0;
  }

  #title{
    display: flex;
    flex-flow: column wrap;
    padding: 0 0 0 10%;
  }

  .iphone{
    height: 555px;
    padding: 100px 0 0 0px;
    width: 310px;
  }

  h1{
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
    margin-left: 0px;
    width: 80%;
  }
  
  p, li, a{
    font-family: 'Mulish', sans-serif;
  }

  p{
    font-size: 1rem;
  }

  .btn-primary{
    background-color: white;
    border: solid white 1px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    width: 500px;
    height: 50px;
    margin: 0 0 8px 0px;
  }

  .btn-outline-light{
    background: rgb(0,0,0,0);
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    height: 50px;
    margin: 0 0 8px 0px;
    width: 500px;
  }

  .btn-primary:hover{
    background-color: #0d0d0d;
    color: #fafafa;
  }

  .btn-outline-light:hover{
    color: black;
  }

  #features{
    display: grid;
    margin: 55px 20px 55px 30px;
  }

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    float: left;
    margin-left: 10%;
  }

  .feat{
    font-size: 1.2rem;
    margin: 10px 0 0 35px;
  }

  .icon{
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
  }

  h2, h3,h4, h5{
    font-family: 'Raleway', sans-serif;
  }

  h3{
    margin: 0 5% 0 5%;
  }

  #testimonial{
    background-color: rgb(252, 248, 177);
    padding: 25px 0 25px 0;
  }

  .dog-words{
    font-size: 1.75rem;
    text-align: center;
  }

  .profile{
    padding: 20px 0 50px 0;  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .profile-img {
    height: 110px;
    border-radius: 50%;
    padding: 0;
  }

  .col-lg-6{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .brand-image{
    padding: 0;
    margin: 5px 0 5px 0;
  }
  
  #pricing{
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    padding: 20px 0 20px 0;
  }

  #pricing > h1{
    text-align: center;
  }

  #pricing > p{
    color: grey;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 15px;
  }

  .card-body{
    border: solid 0.5px lightgrey;
    border-radius: 10px;
    text-align: center;
  }

  h2{
    padding: 5px 0 5px 0;
    text-align: center;
  }

  .card-col{
    margin: 25px 0 10px 0;
    width: 82%;
  }

  .card-title{
    padding-left: 10%;
  }

  .coll{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 450px;
  }

  .text-body-secondary{
    color: grey;
    font-family: 'Montserrat', sans-serif;
  }

  .btn-outline-primary{
    border: solid 1px darkred;
    border-radius: 10px;
    color: darkred;
    background-color: white;
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    height: 50px;
    margin: 0px;
    width: 500px;
    width: 100%;
  }

  .btn-outline-primary:hover{
    background-color: darkred;
    color: #fafafa;
  }

  li{
    list-style: none;
  }

  .nav-link{
    color:#fafafa;
    text-decoration: none;
  }

  .nav-link:hover{
    color: darkred;
  }
}




@media (min-width: 767.98px) and (max-width: 991.98px) { 

  body{
    margin: 0;
  }

  #title{
    display: flex;
    flex-flow: column wrap;
    padding: 0 0 0 10%;
  }

  .iphone{
    height: 575px;
    padding: 70px 0 0 0px;
    width: 310px;
  }

 h1{
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
    margin-left: 0px;
    width: 80%;
  }

  p, li, a{
    font-family: 'Mulish', sans-serif;
  }

  p{
    font-size: 1rem;
  }

  .d-grid{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
  }

  .btn-primary{
    background-color: white;
    border: solid white 1px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    height: 50px;
    width: 200px;
  }

  .btn-outline-light{
    background: rgb(0,0,0,0);
    color: white;
    border: solid white 1px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    height: 50px;
    margin: 0 0 8px 0px;
    width: 200px;
  }
 
  .btn-primary:hover{
    background-color: #0d0d0d;
    color: #fafafa;
  }

  .btn-outline-light:hover{
    color: black;
  }

  #features{
    display: grid;
    margin: 65px 20px 65px 30px;
  }

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    float: left;
  }

  .feat{
    font-size: 1.2rem;
    margin: 7px 0 0 35px;
  }

  .icon{
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
  }

  h2, h3,h4, h5{
    font-family: 'Raleway', sans-serif;
  }

  h3{
    margin: 0 5% 0 5%;
  }

  #testimonial{
    background-color: rgb(252, 248, 177);
    padding: 25px 0 25px 0;
  }

  .dog-words{
    font-size: 1.75rem;
    text-align: center;
  }

  .profile{
    padding: 20px 0 50px 0;  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .profile-img {
    height: 110px;
    border-radius: 50%;
    padding: 0;
  }

  .col-lg-6{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .brand-image{
    padding: 0;
    margin: 5px 0 5px 0;
  }
  
  #pricing{
    padding: 60px 0 20px 0;
    text-align: center;
  }

  #pricing > h1{
    font-size: 2.75rem;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding-left: 10%;
  }

  #pricing > p{
    color: grey;
    font-size: 1.2rem;
    padding-bottom: 15px;
  }

  .row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card-body{
    border: solid 0.5px lightgrey;
    border-radius: 10px;
    text-align: center;
  }

  h2{
    padding: 5px 0 5px 0;
    text-align: center;
  }

  .card-col{
    margin: 25px 0 10px 0;
    width: 100%;
  }

  .card-title{
    padding-left: 10%;
  }

  .coll{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 245px;
  }

  .btn-outline-primary{
    border: solid 1px darkred;
    border-radius: 10px;
    color: darkred;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    background-color: white;
    font-size: 1.2rem;
    height: 50px;
    margin: 0 0 0px 0px;
    width: 100%;
  }

  .btn-outline-primary:hover{
    background-color: darkred;
    color: #fafafa;
  }

  li{
    font-size: 0.92rem;
    list-style: none;
    margin-right: 20%;
  }

  .nav-link{
    color:#fafafa;
    text-decoration: none;
  }

  .nav-link:hover{
    color: darkred;
  }
}




@media (min-width: 991.99px) and (max-width: 1200px) { 

  body{
    margin: 0;
  }

  #title{
    padding: 0%;
  }

  #cont{
    display: flex;
    align-items: center;
  }

  .iphone{
    float: right;
    height: 575px;
    order: 1;
    width: 325px;
    padding: 5% 5% 0% 5%;
  }

  .d-grid{
    align-self: flex-end;
    display: flex;
    gap: 25px;
  }

 h1{
    font-size: 2.35rem;
    font-family: 'Mulish', sans-serif;

  }

  p, li, a{
    font-family: 'Mulish', sans-serif;
  }

  p{
    font-size: 1rem;
  }

  .btn-primary{
    background-color: white;
    border: solid white 1px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    height: 50px;
    width: 180px;
  }

  .btn-outline-light{
    color: white;
    background: rgb(0,0,0,0);
    border: solid white 1px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    height: 50px;
    margin: 0 0 8px 0px;
    width: 180px;
  }

  .btn-primary:hover{
    background-color: rgb(18, 18, 18);
    color: #fafafa;
  }

  .btn-outline-light:hover{
    color: black;
  }

  #features{
    display: grid;
    margin: 65px 20px 65px 30px;
  }

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    float: left;
  }

  .feat{
    font-size: 1.2rem;
    margin: 7px 0 0 35px;
  }

  .icon{
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
  }

  h2, h3,h4, h5{
    font-family: 'Raleway', sans-serif;
  }

  h3{
    margin: 0 5% 0 5%;
  }

  #testimonial{
    background-color: rgb(252, 248, 177);
    padding: 25px 0 25px 0;
  }

  .dog-words{
    font-size: 1.75rem;
    text-align: center;
  }

  .profile{
    padding: 20px 0 50px 0;  
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .profile-img {
    height: 110px;
    border-radius: 50%;
    padding: 0;
  }

  .col-lg-6{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .brand-image{
    padding: 0;
    margin: 5px 0 5px 0;
  }
  
  #pricing{
    padding: 60px 0 20px 0;
    text-align: center;
  }

  #pricing > h1{
    font-size: 2.75rem;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding-left: 10%;
  }

  #pricing > p{
    color: grey;
    font-size: 1.2rem;
    padding-bottom: 15px;
  }

  .row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card-body{
    border: solid 0.5px lightgrey;
    border-radius: 10px;
    text-align: center;
  }

  h2{
    padding: 5px 0 5px 0;
    text-align: center;
  }

  .card-col{
    margin: 25px 0 10px 0;
    width: 100%;
  }

  .card-title{
    padding-left: 10%;
  }

  .coll{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 245px;
  }

  .btn-outline-primary{
    border: solid 1px darkred;
    border-radius: 10px;
    color: darkred;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    background-color: white;
    font-size: 1.2rem;
    height: 50px;
    margin: 0 0 0px 0px;
    width: 100%;
  }

  .btn-outline-primary:hover{
    background-color: darkred;
    color: #fafafa;
  }

  li{
    font-size: 0.92rem;
    list-style: none;
    margin-right: 20%;
  }

  .nav-link{
    color:#fafafa;
    text-decoration: none;
  }

  .nav-link:hover{
    color: darkred;
  }
}


